/* Fonte global */
.hero-section .hero-content {
  position: relative;
  z-index: 2;
  font-family: 'Citrina', Helvetica, sans-serif;
}

.hero-section {
  position: relative;
  height: 100vh;
  background: url('/assets/fundo01.jpg') center center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section.second-bg {
  background: url('/assets/fundo02.jpg') center center/cover no-repeat;
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Sem película */
.no-overlay .overlay {
  display: none !important;
}

/* Película clara */
.second-bg .overlay.light-overlay {
  background-color: rgba(0, 0, 0, 0.25);
}

/* Botão para primeira seção (texto preto) */
.btn-outline-dark {
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: #000000;
  background: rgba(255, 255, 255, 0.15);
}

.btn-outline-dark:hover {
  background: rgba(0, 0, 0, 0.05);
}

/* Efeito hover nos menus da navbar */
.navbar-nav .nav-link {
  position: relative;
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar-nav .nav-link:hover {
  color: #9c0d2f !important; /* Hover: vermelho escuro */
  transform: translateY(-2px);
  font-weight: 600;
}

/* Botão Business transparente */
.glass-btn {
  background: rgba(214, 180, 164, 0.08); /* Vinho Claro quase transparente */
  border: 1px solid rgba(214, 180, 164, 0.4);
  color: #9c0d2f; 
  transition: all 0.3s ease;
}

.glass-btn:hover {
  background: rgba(214, 180, 164, 0.25);
  transform: scale(1.03);
}

.dropdown svg path {
  stroke: #9c0d2f; 
}

.dropdown-menu.custom-dropdown {
  margin-top: 15px; 
  min-width: 150px; 
}

.dropdown-menu.custom-dropdown {
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

footer h6 {
  color: #9c0d2f; /* Vinho Claro */
  margin-bottom: 10px;
}

footer a {
  color: #000;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #9c0d2f;
  text-decoration: underline;
}

/* Ícones das redes sociais */
footer .fab {
  font-size: 1.2rem;
}

/* Gap entre os ícones */
footer .d-flex.gap-3 a {
  margin-right: 8px;
}
