.navbar .container-fluid {
  display: flex;
  flex-wrap: nowrap; 
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  overflow-x: auto;
}

.navbar-nav li a {
  cursor: pointer;
}

.navbar-nav li a span {
  white-space: nowrap;
}

/* Hamburger desktop escondido */
.navbar-toggler.d-lg-none {
  display: none !important;
}

/* Mobile */
@media (max-width: 991px) {
  .navbar-toggler.d-lg-none {
    display: flex !important;
  }

  .navbar-nav li a span {
    display: none !important; /* apenas ícones */
  }

  .navbar-nav {
    gap: 0.5rem;
  }
}

/* Dropdown menu */
.dropdown-menu.custom-dropdown {
  min-width: 150px;
}
