image: node:20

stages:
  - build
  - deploy

cache:
  paths:
    - frontend/node_modules/

build:
  stage: build
  script:
    - cd frontend
    - npm ci
    - npm run build -- --output-path=dist --base-href="/"
  artifacts:
    paths:
      - frontend/dist
    expire_in: 1 week

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - mkdir -p public
    - cp -r frontend/dist/frontend/* public/
  artifacts:
    paths:
      - public
  only:
    - master
