pages:
  stage: deploy
  dependencies:
    - build
  script:
    - rm -rf public
    - mkdir -p public
    - cp -r frontend/dist/ws-manager-frontend/* public/
    - cp public/index.html public/404.html
  artifacts:
    paths:
      - public
  only:
    - master
