image: node:20

stages:
  - build
  - deploy

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - frontend/node_modules/

build:
  stage: build
  before_script:
    - rm -rf frontend/node_modules/.cache
  script:
    - cd frontend
    - npm install --legacy-peer-deps
    - npm run build:pages -- --base-href /
  artifacts:
    paths:
      - frontend/dist
    expire_in: 1 week

pages:
  stage: deploy
  dependencies:
    - build
  script:
    - rm -rf public
    - mkdir -p public

    # Frontend Angular
    - cp -r frontend/dist/ws-manager-frontend/* public/

    # Swagger (backend/public)
    - cp backend/public/swagger.yaml public/swagger.yaml
    - cp backend/public/swagger.json public/swagger.json
    - cp -r backend/public/swagger public/swagger

    # Fallback GitLab Pages
    - cp public/index.html public/404.html

    # Debug
    - echo "===== PUBLIC CONTENT ====="
    - ls -la public

  artifacts:
    paths:
      - public
  only:
    - master
