image: node:20-alpine

stages:
  - deploy

pages:
  stage: deploy
  script:
    - npm install
    - node scripts/generate-case.js  # gera keys.reco.js no CI/CD
    - ls -la public/js                # debug
  artifacts:
    paths:
      - public
  only:
    - master
