# =========================
# GitLab CI para Angular + Pages
# =========================
image: node:20

stages:
  - build
  - deploy

cache:
  paths:
    - node_modules/

build:
  stage: build
  script:
    - cd frontend
    - npm ci
    - npm run build -- --output-path=dist --base-href="/"
  artifacts:
    paths:
      - frontend/dist
    expire_in: 1 week

pages:
  stage: deploy
  script:
    - mkdir .public
    - cp -r frontend/dist/* .public/
  artifacts:
    paths:
      - .public
  only:
    - master
