image: node:20-alpine

stages:
  - deploy

pages:
  stage: deploy
  script:
    - npm install
    - node scripts/generate-keys.js
    - ls -la public/js
  artifacts:
    paths:
      - public
  only:
    - master
