pages:
  stage: deploy
  dependencies:
    - build
  script:
    - rm -rf public
    - mkdir -p public

    # Frontend Angular
    - cp -r frontend/dist/ws-manager-frontend/* public/

    # Swagger isolado (fora do SPA)
    - mkdir -p public/docs
    - cp backend/public/swagger.yaml public/docs/swagger.yaml
    - cp backend/public/swagger.json public/docs/swagger.json
    - cp -r backend/public/swagger public/docs/swagger

    # Fallback SPA
    - cp public/index.html public/404.html

    # Debug
    - echo "===== PUBLIC TREE ====="
    - find public -maxdepth 3 -type f

  artifacts:
    paths:
      - public
  only:
    - master
