image: node:20-alpine

pages:
  stage: deploy
  script:
    - npm install
    - npm run generate-keys || echo "Sem keys CI, apenas login Google"
    - ls -la public
  artifacts:
    paths:
      - public
  only:
    - master
