// Sass functions
@use "sass:math";

// Bootstrap SCSS (apenas uma vez, usando @use)
@use "bootstrap/scss/bootstrap" as *;

// Bootstrap Icons (CSS puro)
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "assets/bootstrap-icons/bootstrap-icons.css";

// Seus estilos customizados
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}
