@use "sass:math";
@use "bootstrap" as *;
@use "styles/bootstrap-icons" as *;

/* Seus estilos customizados */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}
