// Sass functions
@use "sass:math";

// Bootstrap
@use "bootstrap" as *;

// Bootstrap Icons
@import "bootstrap-icons/font/bootstrap-icons.css";

// Seus estilos customizados
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}
