// Sass functions
@use "sass:math";

// Bootstrap SCSS
@use "bootstrap/scss/bootstrap" as *;

// Bootstrap Icons
@import "assets/bootstrap-icons/bootstrap-icons.css";

// Seus estilos customizados
body {
  font-family: "Poppins", sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}
